In [1]:
import os
import urllib
import requests
import json
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [22]:
path= "C:/pythonProject1/"
data= pd.read_csv("destinations_LP_crawler_Ex5.csv",encoding='ISO-8859-1')
data

         city                           city_LP
0     Antalya       mediterranean-coast/antalya
1      Athens                            Athens
2   Ayia-napa  the-republic-of-cyprus/Agia-napa
3     Bangkok                           Bangkok
4   Barcelona                         Barcelona
..        ...                               ...
70     Venice                            Venice
71     Vienna                            Vienna
72     Warsaw                            Warsaw
73  Zakynthos                         Zakynthos
74     Zurich                            Zurich

[75 rows x 2 columns]

In [20]:
new_list=[]
for city in data["city"]: 
    address= city
    api_key='AIzaSyCHsBxyPGRGIbFVwg_ClB2NnZFxjwJHXVg'
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            print("HTTP error-response.status_code")
        else:    
            try:
                response_data=response.json()
                country=response_data['results'][0]['formatted_address'].split(',')[-1].strip()
                try:
#sometimes number appear at the end of formatted_address, if so, take earler word
                    int(country)
                    country=response_geocode['results'][0]['formatted_address'].split(',')[-2].strip()
                except:
                    country=country

                new_list.append(country)
            except: 
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")


new_list

['Turkey',
 'Greece',
 'Cyprus',
 'Thailand',
 'Spain',
 'Switzerland',
 'Georgia',
 'China',
 'Germany',
 'USA',
 'Slovakia',
 'Belgium',
 'Romania',
 'Hungary',
 'Bulgaria',
 'Mexico',
 'Italy',
 'Thailand',
 'Germany',
 'Greece',
 'Spain',
 'Greece',
 'Poland',
 'India',
 'Germany',
 'Ireland',
 'Croatia',
 'Germany',
 'Italy',
 'Germany',
 'Switzerland',
 'China',
 'Germany',
 'Austria',
 'Turkey',
 'Thailand',
 'Zürich',
 'Cyprus',
 'USA',
 'Cyprus',
 'Portugal',
 'Slovenia',
 'USA',
 'Spain',
 'Philippines',
 'France',
 'Mexico',
 'USA',
 'Italy',
 'Russia',
 'India',
 'Germany',
 'Greece',
 'Italy',
 'France',
 'Zürich',
 'France',
 'Thailand',
 'Greece',
 'Italy',
 'Austria',
 'USA',
 'China',
 'Bulgaria',
 'Russia',
 'Germany',
 'Taiwan',
 'Georgia',
 'Greece',
 'Canada',
 'Italy',
 'Austria',
 'Poland',
 'Greece',
 'Switzerland']

In [23]:
data['country']=new_list
data

         city                           city_LP      country
0     Antalya       mediterranean-coast/antalya       Turkey
1      Athens                            Athens       Greece
2   Ayia-napa  the-republic-of-cyprus/Agia-napa       Cyprus
3     Bangkok                           Bangkok     Thailand
4   Barcelona                         Barcelona        Spain
..        ...                               ...          ...
70     Venice                            Venice        Italy
71     Vienna                            Vienna      Austria
72     Warsaw                            Warsaw       Poland
73  Zakynthos                         Zakynthos       Greece
74     Zurich                            Zurich  Switzerland

[75 rows x 3 columns]

In [31]:

desc= list()
http= 'https://www.lonelyplanet.com/'
for i in range(len(data['city'])):
    url=http+data['country'][i]+'/'+data['city_LP'][i]
    response = requests.get(url)
    
    if response.status_code == 200:
        results_page = BeautifulSoup(response.content, 'html.parser')
        description= results_page.find('div',class_="readMore_content___5EuR relative overflow-hidden max-h-96 is-max wysiwyg")
        desc.append(description.get_text())
    else:
        print("Error",url)
        desc.append('Error')

Error https://www.lonelyplanet.com/Zürich/Kyiv
Error https://www.lonelyplanet.com/Zürich/Odesa

In [33]:
data['Description']=desc

,city,city_LP,country,Description
0,Antalya,mediterranean-coast/antalya,Turkey,Once seen simply as the gateway to the Turkish...
1,Athens,Athens,Greece,"With equal measures of grunge and grace, Athen..."
2,Ayia-napa,the-republic-of-cyprus/Agia-napa,Cyprus,Endless blue-sky days and a coastline riddled ...
3,Bangkok,Bangkok,Thailand,"Same same, but different. This Thailish T-shir..."
4,Barcelona,Barcelona,Spain,Barcelona is an enchanting seaside city with b...
...,...,...,...,...
70,Venice,Venice,Italy,Imagine the audacity of building a city of mar...
71,Vienna,Vienna,Austria,Baroque streetscapes and imperial palaces set ...
72,Warsaw,Warsaw,Poland,"A phoenix arisen from the ashes, Poland's capi..."
73,Zakynthos,Zakynthos,Greece,"Zakynthos, also known by its Italian name Zant..."
74,Zurich,Zurich,Switzerland,"Culturally vibrant, efficiently run and attrac..."

In [41]:
del data['city_LP']
data.to_csv('LP_destinations.csv')